.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "name mail"
    "message message"
    "privacy privacy"
    "button button";
  gap: 2rem 1rem;
  padding-top: 1.7rem;
  border-top: solid 1px var(--color-text);
  transform: translateX(-110%);
  transition: transform .5s ease-in;
}

.form.tablet,
.form.mobile {
  grid-template-columns: 1fr;
  grid-template-areas: 
    "name"
    "mail"
    "message"
    "privacy"
    "button";
  gap: 1rem;
}

.form.mobile {
  border-top: none;
  transition: none;
}

.form.active {
  transform: translateX(0);
}

.cover {
  position: absolute;
  z-index: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -2;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: none;
}

.input {
 outline: solid 1px var(--color-text-dim);
 border: none;
 font-family: var(--font-base);
 font-size: 1rem;
 font-weight: 600;
 padding: 1rem;
 border-radius: 0.25rem;
 width: 100%;
 background-color: var(--color-bg-light);
 color: var(--color-text);
}

.input::placeholder {
  color: var(--color-text-dim);
  opacity: 0.5;
  font-weight: 500;
}

.input:focus-visible {
  outline: solid 2px;
}

.label {
  --vertical-offset: .7rem;
  --horisontal-offset: .7rem;
  position: absolute;
  font-size: 1rem;
  left: var(--horisontal-offset);
  padding-inline: calc(1rem - var(--horisontal-offset));
  top: calc(-1 * var(--vertical-offset));
  background-color: transparent;
  color: inherit;
  z-index: 2;
}

.label:after {
  content: '';
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  height: var(--vertical-offset);
  background-color: var(--color-bg);
  z-index: -1;
}

div:has(.input:focus-visible) {
  color: var(--color-text);
}

.message {
  resize: vertical;
  min-height: 25svh;
}

.error {
  /* color: var(--color-accent); */
  color: red;
  padding: .3rem 1rem;
  min-height: 1.5rem;
  width: 100%;
}

.name_box,
.email_box,
.message_box {
  position: relative;
  color: var(--color-text-dim);
}

.name_box {
  grid-area: name;
}

.email_box {
  grid-area: mail;
}

.message_box {
  grid-area: message;
}

.privacy_box {
  grid-area: privacy;
  display: grid;
  grid-template-columns: 1.1rem auto;
  gap: .1rem .5rem;
  padding-inline: .5rem;
}

.privacy_box .error {
  padding-inline: 0 1rem;
}

.btn_box {
  grid-area: button;
  display: flex;
  justify-content: center;
}

.privacy_link {
  color: var(--color-text-dim);
  text-decoration: underline;
  text-underline-offset: .25rem;
}

.checkbox_container {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  position: relative;
  outline: solid 1px var(--color-text-dim);
  border-radius: 0.1rem;
  border: none;
  background-color: var(--color-bg-light);
  color: var(--color-text);
  transition: background-color .3s ease-in;
 }

 .checkbox_input:checked ~ .checkbox {
  background-color: var(--color-active);
}
.checkbox_container input:checked ~ .checkbox:after {
  opacity: 1;
}
.checkbox_container:hover input ~ .checkbox {
  background-color: var(--color-active);
}
.checkbox_container:hover input:checked ~ .checkbox {
  background-color: var(--color-active);
}

.checkbox:after {
  content: "";
  position: absolute;
  left: .25rem;
  top: 0;
  width: .5rem;
  height: .8rem;
  border: solid var(--color-text);
  border-width: 0 2px 2px 0;
  transform: rotate(37deg);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}