.btn {
  outline: none;
  background: transparent;
  border: solid 2px var(--color-active);
  color: var(--color-text);
  border-radius: 100px;
  padding: .5rem 2rem;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: background-color .3s ease-in;
}

.btn[disabled] {
  border-color: var(--color-text);
  pointer-events: none;
}

.btn:hover {
  background-color: var(--color-active);
}