.hero {
  min-height: calc(100dvh - var(--header-height) - var(--footer-height) - 0.2rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "header pic"
  "text pic";
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  font-size: clamp(1.2rem, 1.6vw, 2rem);
}

.hero.mobile {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "header"
  "pic"
  "text";
}

.hero_text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: start;
  gap: 1rem;
  padding-top: 1rem;
}

.hero_text p {
  margin: 0;
}

.hero_text ul {
  margin-block: 0 2rem;
}

/* .hero.mobile .hero_text {
  left: 0;
} */

.hero_title {
  grid-area: header;
  font-family: 'Rubik';
  font-size: clamp(1rem, 3.4cqw , 8rem);
  margin: 0;
  align-self: end;
}

.hero.mobile .hero_title {
  font-size: clamp(1rem, 6.7cqw , 8rem);
}

.hero_position {
  color: var(--color-active);
}

.hero_pic {
  grid-area: pic;
  max-width: 700px;
  max-height: calc(80dvh - var(--header-height) - var(--footer-height));
  aspect-ratio: 9/10;
  /* width: 50cqw; */
}

.hero.mobile .hero_pic {
  min-width: 100%;
}

.hero.mobile button {
  margin: auto;;
}