.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 2px var(--color-text);
  padding: 1rem;
  padding-bottom: 1.5rem;
  gap: 0.5rem;
}

.card.profile {
  border-bottom: none;
  border-radius: 0.25rem;
  background-color: var(--color-bg-light);
  margin-block: 1.5rem;
}

.card:last-of-type {
  border-bottom: none;
}
.card_title {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.card_company {
  margin: 0;
  font-family: var(--font-header);
  font-weight: 500;
  font-size: 1.4rem;
}

.card_location {
  font-size: 1rem;
  padding-left: 0.5rem;
  color: var(--color-text-dim);
}

.card_position {
  font-size: 1.2rem;
  color: var(--color-active);
  margin: 0;
}

.card_dates {
  font-size: 1.2rem;
}

.card_description {
  line-height: 150%;
  word-spacing: 0.25rem;
  margin: 0;

  a {
    text-decoration: solid underline 2px;
    text-underline-offset: 4px;
    transition:
      color 0.2s ease-in,
      text-decoration-color 0.2s ease-in;

    &:hover {
      color: var(--color-accent);
    }
  }

  ul {
    margin: 0.2rem 0;
    padding: 0;
    padding-left: 1.4rem;
  }
}

.card_skills_title {
  margin: 0;
  font-size: 1.2rem;
  color: var(--color-text-dim);
}

.card_skills_list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem 1.5rem;
  flex-wrap: wrap;
}

.card_link {
  color: var(--color-text-dim);
  text-decoration: underline;
}
