:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

  --color-light-extra: #F8F9FA;
  --color-light-normal: #DEE2E6;
  --color-light-low: #ADB5BD;
  --color-dark-low: #6C757D;
  --color-dark-normal: #343A40;
  --color-dark-extra: #212529;
}

#light {
  --color-text: var(--color-dark-normal);
  --color-bg: var(--color-light-extra);
}

#dark {
  --color-text: var(--color-light-extra);
  --color-bg: var(--color-dark-normal);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header, main, footer {
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: inherit;
}